<!doctype html>
<html>
<head>
	<title>Online store</title>
	<link href="template/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="product-list">
    {% for product in products %}
      <div class='card'>
        <p>{{ product["name"] }}</p>
				<h2>€{{ product["price"] }}.-</h2>

      {% if product["discount"] %}
        <p class="discount">DISCOUNT</p>
      {% else %}
        <p class="invisdicont">pole :D</p>
      {% endif %}

      {% if product["quantity"] > 0 %}
        <button class="buybutton">Add to cart</button>
      {% else %}
        <button class="deadbuybutton" disabled>Out of stock</button>
      {% endif %}

      </div>
    {% endfor %}
  </section>
</body>
</html>